target/
*.jar
*.class
.idea/
*.iml
log/
*.log
loki-data/
# maven / java
target/
*.jar
*.war
*.class

# IDE
.idea/
*.iml

# logs
*.log
log/

# local docker / data
loki-data/
pgdata/
# maven / java
target/
*.jar
*.war
*.class

# IDE
.idea/
*.iml

# logs
*.log
log/

# local docker / data
loki-data/
pgdata/
