name: IndBank CI/CD Demo

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out Code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build JAR
      run: |
        cd indbank-java
        mvn -q -DskipTests package

    - name: Build Docker Image
      run: |
        docker build -t indbank-java:latest indbank-java/

    # IMPORTANT: FIXED LOGIN BLOCK
    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Push Docker Image
      run: |
        docker tag indbank-java:latest ${{ secrets.DOCKERHUB_USERNAME }}/indbank-java:latest
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/indbank-java:latest
