name: IndBank CI/CD Demo

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Build JAR
        run: |
          cd indbank-java
          ./mvnw clean package -DskipTests

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USER }}/indbank-java:latest indbank-java/

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASS }}" | docker login -u "${{ secrets.DOCKER_USER }}" --password-stdin

      - name: Push Image
        run: |
          docker push ${{ secrets.DOCKER_USER }}/indbank-java:latest
